<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-bar" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#" id="home">Home</a>
          <a class="nav-link" href="#" id="aboutme">About Me</a>
          <a class="nav-link" href="#" id="projects">Projects</a>
          <a class="nav-link" href="#" id="skills">Skills</a>
          <a class="nav-link" href="#" id="getintouch">Get In Touch</a>
        </div>
      </div>
    </div>
</nav>