
    <div class="container">
      <ul class="stack-cards js-stack-cards">
        <li >
          <div class="firstCarsContainer rz4-text-component rz4-padding-md">
            <div class="firstCardLeft">
              <div class="imgContainer">
                <div class="profileimg">
                  <img src="img/donsijopic.jpg">
                </div>
              </div>
              <div class="profileInfo">
                <h4>Don Sijo</h4>
                <h6>Web Developer</h6>
                <p>Barrie, Ontario, Canada</p>
              </div>
              <div class="socialIcons">
                <a href="https://github.com/Donsijo7227" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/dsijo2003/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
              <div class="edu-exp">
                <div class="education">
                  <h6>Education</h6>
                  <p>Georgian College - Barrie 2023-Present <br>Interactive Media Design - Web</p>
                </div>
              </div>
              <!-- <iframe src="https://lottie.host/embed/ebac20a4-9833-42aa-a4f3-273284279dc3/SNLwsmA99o.json"></iframe> -->
            </div>
            <div class="secondCardRIght">
              <div class="secondacardinfocontainer">
                <div class="intro">
                  <p><span class="abtMefirstPart">Hi, I'm <span class="mYname text-3 matrix-animation">Don</span> <br/> <span class="job text-1 matrix-animation"> A Web Developer</span> <br/>  creating fast, responsive, and user-friendly digital experiences. Currently sharpening my <span class="abtmesecpart text-2 matrix-animation">Full-Stack</span> skills at <span class="clg text-3 matrix-animation">Georgian College</span>, <br/>I’m passionate about tech and always exploring new ways to innovate.</p></span>
                </div>
              </div>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
 <script>
  //Matrix
var matrixAnimations = document.querySelectorAll(".matrix-animation");
var animationIds = [];
var originalTexts = [];
var currentIndex = 0;
var isAnimating = false;

for (var i = 0; i < matrixAnimations.length; i++) {
  originalTexts[i] = matrixAnimations[i].innerText;

  matrixAnimations[i].addEventListener(
    "mouseover",
    (function (i) {
      return function () {
        if (isAnimating) return;

        isAnimating = true;
        currentIndex = 0;
        animateText(matrixAnimations[i], originalTexts[i]);
      };
    })(i)
  );

  matrixAnimations[i].addEventListener(
    "mouseout",
    (function (i) {
      return function () {
        cancelAnimationFrame(animationIds[i]);
        resetAnimation(matrixAnimations[i], originalTexts[i]);
        currentIndex = 0;
        isAnimating = false;
      };
    })(i)
  );
}

function animateText(element, originalText) {
  var characters = originalText.split("");
  var randomizedIndices = getRandomIndices(characters.length);

  var startTime = null;
  var duration = 800; // Adjust the duration as desired

  function animate(timestamp) {
    if (!startTime) startTime = timestamp;
    var progress = timestamp - startTime;

    if (progress >= duration) {
      isAnimating = false;
      return;
    }

    var currentIndex = Math.floor((progress / duration) * characters.length);

    scrambleText(element, characters, randomizedIndices, currentIndex);
    animationIds[i] = requestAnimationFrame(animate);
  }

  animationIds[i] = requestAnimationFrame(animate);
}

function scrambleText(element, characters, randomizedIndices, currentIndex) {
  var scrambledText = "";

  for (var i = 0; i < characters.length; i++) {
    if (i <= currentIndex || characters[i] === " ") {
      scrambledText += characters[i];
    } else {
      var randomIndex = randomizedIndices[i];
      scrambledText += String.fromCharCode(Math.floor(Math.random() * 94) + 33);
    }
  }

  element.innerText = scrambledText;
}

function resetAnimation(element, originalText) {
  element.innerText = originalText;
}

function getRandomIndices(length) {
  var indices = [];

  for (var i = 0; i < length; i++) {
    indices.push(i);
  }

  shuffleArray(indices);
  return indices;
}

function shuffleArray(array) {
  for (var i = array.length - 1; i > 0; i--) {
    var j = Math.floor(Math.random() * (i + 1));
    var temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
}

 </script>