<div id="projectContainer">
    <!---
    <div class="card">
        <figure class="card__img-wrapper">
            <img src="img/card-img-1.jpg" alt="Image description">
        </figure>

        <div class="card__content">
            <h4>I have a dream</h4>

            <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            
            <footer>
            <a href="#0" class="card__btn cd-btn cd-btn--primary">Read more</a>
            </footer>
        </div>
    </div>
    -->
</div>