<section class="skills-section">
    <h2>My Skills</h2>
    <div class="skills-container">
        <div class="skill-item">
            <img src="img\skills\html.png" alt="HTML" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\css.png" alt="CSS" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\js.png" alt="JavaScript" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\react.png" alt="React" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\python.png" alt="c+++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\c++.png" alt="c++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\mysql.png" alt="c++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\next.png" alt="c++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\nodejs.png" alt="c++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\express.png" alt="c++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\wordpress.png" alt="c++" class="skill-logo">
        </div>
        <div class="skill-item">
            <img src="img\skills\php.png" alt="c++" class="skill-logo">
        </div>
        
    </div>
</section>